<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Przepisy</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <% if(recipes.length === 0) { %>
                <p>Brak Notatek do wyświetlenia</p>
            <% } else { %>
                <% recipes.forEach(recipe => { %>
                    <p>
                        <a href="/show/<%= recipe._id %>" class="recipe"><h2><%= recipe.title %></h2></a>
                    </p>
                <% }) %>
            <% } %>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>