<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dodaj Przepis</title>
        <!--<link rel="stylesheet" href="/styles/main.css">-->
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <form method="post" action="/new">
                <fieldset>
                    <legend>Nowy Przepis</legend>
                    <label for="title">Tytuł:</label>
                    <input type="text" id="title" name="title" required><br>
                    
                    <label for="description">Treść:</label>
                    <textarea id="description" name="description" required></textarea><br>

                    <label for="instructions">Instrukcje Przygotowania:</label>
                    <textarea id="instructions" name="instructions" required></textarea><br>
                    
                    <button type="submit">Dodaj Przepis</button>
                </fieldset>
            </form>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>