<footer>
    <p>
        &copy; 2067 Wszelkie SIGMASTYCZNE prawa zastrzeżone przez:
        Super ekstra przydatna i oryginalna lista zadań, jakiej
        świat jeszcze nie widział, o wcale nie za długiej nazwie.
    </p>
</footer>