<header>
    <h1>Przepisy</h1>
    <% if (user) { %>
        <p><span name="welcomemsg"></span>Witaj, <%= user %>!</span> | <a href="/logout">Wyloguj</a></p>
    <% } %>
    <p><a href="/">Strona Główna</a> | <a href="/new">Dodaj</a></p>
</header>